*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav_list{
    background-color:khaki;
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

.nav_list .nav_items a{
    text-decoration: none;
    color: black;
}

.aboutUs{
    margin: 25px;
    display: flex;
    gap: 10px;
}

.aboutUs form{
    background-color:lightcyan;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutUs .title{
    font-size:30px;
    margin: 15px;
}

.aboutUs .name_input{
    padding: 10px;
    margin: 15px;
    margin-top: 5px;
}

.aboutUs .email_input{
    padding: 10px;
    margin: 15px;
}

.aboutUs .description{
    padding: 10px;
    margin: 15px;
    height: 100%;
}

.aboutUs .button{
    background-color: chocolate;
    padding: 10px;
    margin: 15px ;
    color: white;
    width: 90px;
    border-radius: 10px;
}


.footer{
    background-color: darkblue;
    color: white;
    padding: 70px;
}

.footer .footer_lists{
    margin-top: 15px;
    display: flex;
    gap: 40px;
}

.footer .year{
    text-align: center;
    margin: 30px;
}
